name: codesee-deps-dotnet package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK 7.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'
          dotnet-quality: 'ga'
      - name: Publish
        run: dotnet publish --framework net7.0 --runtime linux-x64 --self-contained true --configuration Release


